<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1.0"
  />
  <link
   rel="icon"
   href="https://i.postimg.cc/k5BFpSYc/favicon-barbershop.png"
  />
  <link
   href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
   rel="stylesheet"
  />
  <link
   rel="preconnect"
   href="https://fonts.googleapis.com"
  />
  <link
   rel="preconnect"
   href="https://fonts.gstatic.com"
   crossorigin
  />
  <link
   href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap"
   rel="stylesheet"
  />
  <link rel="stylesheet" href="../css/auth.css" />
  <title>Barbershop</title>
  <link
   rel="stylesheet"
   href="../css/main.min.css"
  />
  <link
   rel="stylesheet"
   href="../css/notification.css"
  />
  <link
   rel="stylesheet"
   href="../css/loader.css"
  />
 </head>
 <body>
  <%- include('../partials/header'); %>
  <main>
   <%- include('../partials/sections/hero'); %>
   <%-
   include('../partials/notification/success-email'
   ); %> <%-include('../partials/sections/about');
   %> <%-include('../partials/sections/price'); %>
   <%-include('../partials/sections/benefits');%>
   <%-include('../partials/sections/barbers');%>
   <%-include('../partials/sections/portfolio');%>
   <div class="general-block">
    <%- include('../partials/sections/booking');%>
    <%-
    include('../partials/sections/contacts');%>
   </div>
  </main>
  <div id="auth"></div>
  <%- include('../partials/footer');%> <%-
  include('../partials/loader');%> <%-
  include('../partials/mob-menu');%> <%-
  include('../partials/modal');%> <%-
  include('../partials/auth'); %>
  <script
   src="/js/menu.js"
   type="module"
  ></script>
  <script
   src="/js/DOMContentLoaded.js"
   type="module"
  ></script>
  <script
   src="/js/modal.js"
   type="module"
  ></script>
  <script
   src="/js/auth.js"
   type="module"
  ></script>
  <script
   src="/js/slowScrolling.js"
   type="module"
  ></script>
  <script
   src="/js/scrollToTop.js"
   type="module"
  ></script>
 </body>
</html>
